/*reset settings */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.paragraph-reset {
  margin: 0;
  padding: 0;
}

/*font*/
@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/*start settings */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: #E5E5E5;
}





/* большие контейнеры и все main title*/
.container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.header-first-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-title {
  margin: 0 0 20px 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

/*header*/
.header-first-container {
  align-items: center;
}

.header-phone-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.header-personal-link {
  font-size: 16px;
  line-height: 16px;
  color: rgba(204, 153, 51, 1);
  background-image: url('../img/header-personal.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.header-list {
  display: flex;
  padding: 27px 0 27px 45px;
  margin-right: auto;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.header-nav-link {
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.header-logo-link {
  margin-right: 34px;
}

.header-phone-link {
  margin-right: auto;
}


.header-btn-wrapper {
  margin-right: 45px;
}

.btn {
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

.header-want-btn {
  margin-right: 40px;
  padding: 13px 20px;
}

.header-call-btn {
  padding: 13px 20px;
}

/*main*/
/*offer*/
/*стили для главного контейнера*/

.offer-container {
  display: flex;
  min-height: 540px;
}

.offer-text-wrapper {
  display: flex;
  flex-direction: column;
  width: calc((100%-24px)/2);
}

.offer-text-wrapper:not(:last-child) {
  margin-right: 24px;
}

/*background-image*/
.offer-maldive-wrapper {
  background-image: url('../img/offer-maldive.svg');
}

.offer-krit-wrapper {
  background-image: url('../img/offer-krit.svg');
}

.offer-luxe-wrapper {
  background-image: url('../img/offer-luxe.svg');
}

.offer-text {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.offer-right-text {
  display: flex;
  padding: 212px 229px 40px 45px;
  min-height: 540px
}

.offer-left-text {
  display: flex;
  padding: 40px 108px 40px 45px;
  min-height: 258px;

}

.offer-left-text:not(:last-child) {
  margin-bottom: 24px;
}

.offer-text {
  flex-direction: column;
}

.offer-title {
  margin-bottom: 15px;
  font-weight: 700;
  color: #fff;
}

.offer-left-title {
  max-width: 400px;
  font-size: 40px;
  line-height: 40px;
}

.offer-right-title {
  width: 299px;
  font-size: 60px;
  line-height: 60px;
}

.offer-price-note {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.offer-right-price-note {
  font-size: 30px;
  line-height: 30px;
}

.offer-more-link {
  max-width: 105px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(240, 191, 95, 1);
  background-image: url('../img/offer-arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-right: 15px;
}

/*about us*/

.paragraph-about-us {
  max-width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
}

/* services*/
.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list-item {
  display: flex;
  width: 573px;
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-list-item:nth-child(-n+2) {
  margin-bottom: 24px;
}

/*background-image*/
.service-container-pool {
  background-image: url('../img/services-pool.jpg');
}

.services-container-champagne {
  background-image: url('../img/services-champagne.jpg');
}

.services-container-table {
  background-image: url('../img/services-table.jpg');
}

.services-container-cars {
  background-image: url('../img/services-cars.jpg');
}

.services-container {
  padding: 26px 126px 35px 45px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 191px;
  background-color: #fff;
  border-radius: 15px;
}

.services-title {
  display: inline-block;
  max-width: 377px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: rgba(204, 153, 51, 1);
  background-image: url('../img/services-arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 11px 16px;
  padding-right: 15px;
}

.paragraph-services {
  max-width: 402px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/* benefits*/
.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list-item {
  width: 276px;
  padding: 40px 42px 32px 45px;
  background-color: #fff;
  border-radius: 15px;
}

.benefits-list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.benefits-list-item:nth-child(-n+4) {
  margin-bottom: 24px;
}

/* backgroung-img*/
.benefits-bathtub {
  background-image: url('../img/benefits-bathtub.svg');
}

.benefits-hanger {
  background-image: url('../img/benefits-hanger.svg');
}

.benefits-heating {
  background-image: url('../img/benefits-heating.svg');
}

.benefits-key {
  background-image: url('../img/benefits-hotel-key.svg');
}

.benfits-parking {
  background-image: url('../img/benefits-parking.svg');
}

.benefits-reception {
  background-image: url('../img/benefits-reception.svg');
}

.benefits-security {
  background-image: url('../img/benefits-security-box.svg');
}

.benefits-swimming {
  background-image: url('../img/benefits-swimming-pool.svg');
}

.benefits-list-container {
  padding-top: 76px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 66px 66px;
}

.paragraph-benefits {
  max-width: 189px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/* placing*/
.placing-list {
  display: flex;
  flex-wrap: wrap;
}

.placing-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placing-list-item:nth-child(-n+6) {
  margin-bottom: 24px;
}

/* background-img*/
.placing-first-img-container {
  background-image: url('../img/placing-first.jpg');
}

.placing-second-img-container {
  background-image: url('../img/placing-second.jpg');
}

.placing-third-img-container {
  background-image: url('../img/placing-third.jpg');
}

.placing-fourth-img-container {
  background-image: url('../img/placing-fourth.jpg');
}

.placing-fifth-img-container {
  background-image: url('../img/placing-fifth.jpg');
}

.placing-sixth-img-container {
  background-image: url('../img/placing-sixth.jpg');
}

.placing-seventh-img-container {
  background-image: url('../img/placing-seventh.jpg');
}

.placing-eighth-img-container {
  background-image: url('../img/placing-eighth.jpg');
}

.placing-container {
  display: flex;
  flex-direction: column;
  padding: 253px 45px 45px 45px;
  justify-content: flex-end;
  width: 374px;
  background-color: #fff;
  border-radius: 15px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.placing-price-img-wrapper {
  display: flex;
  margin-bottom: 16px;
}

.placing-note-wrapper {
  max-width: 137px;
  margin-right: 52px;
}


.placing-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
}

.placing-note-price-first {
  margin-right: 4px;
  color: rgba(153, 153, 153, 1);
}

.placing-note-price-strong {
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.placing-title {
  margin-bottom: 16px;
}

.placing-note-place {
  margin-bottom: 20px;
  color: rgba(153, 153, 153, 1);
}

.placing-list-item-link {
  max-width: 105px;
  padding: 13px 20px;
  border: 1px solid rgba(204, 153, 51, 1);
  border-radius: 10px;
  color: rgba(204, 153, 51, 1);
}

.placing-last-container {
  max-width: 374px;
  padding: 373px 55px 27px 54px;
  border-radius: 15px;
  background-image: url('../img/placing-ninth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.placing-list-last-link {
  max-width: 250px;
  padding-right: 15px;
  background-image: url('../img/placing-arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}