/*start settings */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*reset settings */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.paragraph-reset {
  margin: 0;
  padding: 0;
}

/*flex class */
.flex {
  display: flex;
}

/*отступ больших контейнеров и всех main title*/
.container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.header-first-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-title {
  margin: 0 0 20px 40px;
}

/*header*/
.header-first-container {
  align-items: center;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  outline: 1px solid red;
}

.header-logo-link {
  margin-right: 34px;
}

.header-phone-link {
  margin-right: auto;
}

.header-list {
  padding: 27px 0 27px 45px;
  margin-right: auto;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn-wrapper {
  margin-right: 45px;
}

.header-want-btn {
  margin-right: 40px;
  padding: 13px 20px;
  border: 1px solid yellow;
}

.header-call-btn {
  padding: 13px 20px;
  border: 1px solid yellow;
}

/*main*/
/*offer*/
/*стили для главного контейнера*/

.offer-container {
  min-height: 540px;
  outline: 1px solid green;
}

.offer-text-wrapper {
  flex-direction: column;
  width: calc((100%-24px)/2);
  outline: 1px solid red;
}

.offer-text-wrapper:not(:last-child) {
  margin-right: 24px;
}

.offer-right-text {
  margin-top: auto;
  padding: 212px 229px 40px 45px;
  outline: 1px solid yellow;
}

.offer-left-text {
  padding: 40px 108px 40px 45px;
  outline: 1px solid yellow;
}

.offer-left-text:not(:last-child) {
  margin-bottom: auto;
}

.offer-text {
  flex-direction: column;
}

.offer-left-title {
  margin-bottom: 15px;
  width: 420px;
}

.offer-right-title {
  margin-bottom: 15px;
  width: 299px;
}

.offer-price-note {
  margin-bottom: 47px;
}

/*about us*/

.paragraph-about-us {
  max-width: 888px;
  outline: 1px solid red;
}

/* services*/
.services-list {
  flex-wrap: wrap;
}

.services-list-item {
  width: 573px;
  outline: 1px solid green;
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-list-item:nth-child(-n+2) {
  margin-bottom: 24px;
}

.services-container {
  padding: 26px 126px 35px 45px;
}

/* benefits*/
.benefits-list {
  flex-wrap: wrap;
}

.benefits-list-item {
  width: 276px;
  outline: 1px solid blue;
}

.benefits-list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.benefits-list-item:nth-child(-n+4) {
  margin-bottom: 24px;
}

.benefits-list-container {
  padding: 116px 42px 32px 45px;
}

.paragraph-benefits {
  width: 189px;
}

/* placing*/
.placing-list {
  flex-wrap: wrap;
}

.placing-list-item {
  width: 374px;
  outline: 1px solid red;
}

.placing-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placing-list-item:nth-child(-n+6) {
  margin-bottom: 24px;
}

.placing-list-item-link {
  display: flex;
  align-items: flex-end;
}

.placing-container {
  flex-direction: column;
  padding: 249px 45px 45px 45px;
}

.placing-price-img-wrapper {
  margin-bottom: 16px;
}

.placing-note-price {
  margin-right: 52px;
}

.placing-title {
  margin-bottom: 16px;
}

.placing-note-place {
  margin-bottom: 20px;
}