/*reset settings */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.paragraph-reset {
  margin: 0;
  padding: 0;
}

/*font*/
@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/*start settings */

html {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --light-gray: rgba(233, 233, 233, 1);
  --gray: #666;
  --gray3: rgba(153, 153, 153, 1);
  --white: #fff;
  --yellow1: rgba(240, 191, 95, 1);
  --yellow2: rgba(204, 153, 51, 1);
  --yellow3: rgba(164, 115, 18, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: #E5E5E5;
}





/* большие контейнеры и все main title*/
.container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.header-first-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.main-title {
  margin: 0 0 20px 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

/*header*/


.header-phone-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--gray);
}

.header-personal-link {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow2);
  gap: 7px;
  transition: color 0.3s ease-in-out, fill 0.3s ease;
}

.header-personal-link svg {
  fill: var(--yellow2);
}


.header-personal-link:hover svg {
  fill: var(--yellow1);
}

.header-personal-link:active svg {
  fill: var(--yellow2);
}

.yellow-link {
  transition: color 0.3s ease-in-out;
}

.yellow-link:focus {
  color: var(--yellow2);
  outline: 1px solid var(--yellow2);
  outline-offset: 5px;
}

.yellow-link:hover {
  color: var(--yellow1);
}

.yellow-link:active {
  color: var(--yellow3);
  outline: none;
}

.header-list {
  display: flex;
  padding: 27px 0 27px 45px;
  margin-right: auto;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
}

.header-nav-link {
  font-size: 16px;
  line-height: 16px;
  color: var(--gray);
}

.header-logo-link {
  margin-right: 34px;
}

.header-phone-link {
  margin-right: auto;
}

.gray-link {
  transition: color 0.3s ease-in-out;
}

.gray-link:focus {
  outline: 1px solid var(--yellow2);
  outline-offset: 5px;
}

.gray-link:hover,
.gray-link:focus {
  color: var(--yellow2);
}

.gray-link:active {
  color: var(--yellow3);
  outline: none;
}


.header-btn-wrapper {
  margin-right: 45px;
}

.btn {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow2);
  border: 1px solid var(--yellow2);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus {
  background-color: var(--yellow2);
}

.btn:hover {
  background-color: var(--yellow2);
}

.btn:active {
  background-color: var(--yellow3);
}

.btn:focus,
.btn:hover,
.btn:active {
  color: var(--white);
  border-color: inherit;
}

.header-want-btn {
  margin-right: 40px;
  padding: 13px 20px;
}

.header-call-btn {
  padding: 13px 20px;
}

/*main*/
/*offer*/
/*стили для главного контейнера*/

.offer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.offer-text-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 573px;
  color: rgba(48, 64, 89, 0.84);
}



/*background-image*/
.offer-maldive-wrapper {
  background-image:
    linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('../img/offer-maldive.svg');
}

.offer-krit-wrapper {
  background-image:
    linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('../img/offer-krit.svg');
}

.offer-luxe-wrapper {
  background-image:
    linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('../img/offer-luxe.svg');
}

.offer-text {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.offer-right-text {
  padding: 212px 229px 40px 45px;
  min-height: 540px;

}

.offer-left-text-wrapper {
  gap: 24px;
}

.offer-left-text {
  padding: 40px 108px 40px 45px;
  min-height: 258px;
  min-width: 573px;
}

.offer-title {
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--white);
}

.offer-left-title {
  max-width: 400px;
  font-size: 40px;
  line-height: 40px;
}

.offer-right-title {
  width: 299px;
  font-size: 60px;
  line-height: 60px;
}

.offer-price-note {
  margin-bottom: 47px;
  max-width: 142px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.offer-right-price-note {
  font-size: 30px;
  line-height: 30px;
}

.offer-more-link-wrapper {
  display: flex;
  align-items: center;
}

.offer-more-link-wrapper svg {
  stroke: var(--yellow1);
}

.offer-more-link {
  max-width: 105px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow1);
  transition: padding-right 0.3s ease-in-out;
}


.offer-more-link:hover {
  padding-right: 26px;
}

.offer-more-link:active {
  color: var(--white);
  padding-right: 0;
}

/*about us*/

.paragraph-about-us {
  max-width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

/* services*/
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.services-list-item {
  display: flex;
  width: 573px;
}



/*background-image*/
.service-container-pool {
  background-image: url('../img/services-pool.jpg');
}

.services-container-champagne {
  background-image: url('../img/services-champagne.jpg');
}

.services-container-table {
  background-image: url('../img/services-table.jpg');
}

.services-container-cars {
  background-image: url('../img/services-cars.jpg');
}

.services-container {
  padding: 26px 126px 35px 45px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 191px;
  background-color: var(--white);
  border-radius: 15px;
}

.services-link {
  display: flex;
  align-items: center;
  max-width: 400px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--yellow2);
  transition: color 0.3s ease-in-out;
}

.services-link:hover {
  color: var(--yellow1);
}

.services-link:active {
  color: var(--yellow3);
}

.services-link svg {
  stroke: var(--yellow2);
}

.services-link:hover svg {
  stroke: var(--yellow1);
}

.services-link:active svg {
  stroke: var(--yellow3);
}

.services-link-note {
  padding-right: 5px;
  transition: padding-right 0.3s ease-in-out;
}

.services-link:hover .services-link-note {
  padding-right: 16px;
}

.services-link:active .services-link-note {
  padding-right: 5px;
}

.paragraph-services {
  max-width: 402px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

/* benefits*/
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.benefits-list-item {
  width: 276px;
  padding: 40px 42px 32px 45px;
  background-color: var(--white);
  border-radius: 15px;
}

/* backgroung-img*/
.benefits-bathtub {
  background-image: url('../img/benefits-bathtub.svg');
}

.benefits-hanger {
  background-image: url('../img/benefits-hanger.svg');
}

.benefits-heating {
  background-image: url('../img/benefits-heating.svg');
}

.benefits-key {
  background-image: url('../img/benefits-hotel-key.svg');
}

.benfits-parking {
  background-image: url('../img/benefits-parking.svg');
}

.benefits-reception {
  background-image: url('../img/benefits-reception.svg');
}

.benefits-security {
  background-image: url('../img/benefits-security-box.svg');
}

.benefits-swimming {
  background-image: url('../img/benefits-swimming-pool.svg');
}

.benefits-list-container {
  padding-top: 76px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 66px 66px;
}

.paragraph-benefits {
  max-width: 189px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

/* placing*/
.placing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}




/* background-img*/
.placing-first-img-container {
  background-image: url('../img/placing-first.jpg');
}

.placing-second-img-container {
  background-image: url('../img/placing-second.jpg');
}

.placing-third-img-container {
  background-image: url('../img/placing-third.jpg');
}

.placing-fourth-img-container {
  background-image: url('../img/placing-fourth.jpg');
}

.placing-fifth-img-container {
  background-image: url('../img/placing-fifth.jpg');
}

.placing-sixth-img-container {
  background-image: url('../img/placing-sixth.jpg');
}

.placing-seventh-img-container {
  background-image: url('../img/placing-seventh.jpg');
}

.placing-eighth-img-container {
  background-image: url('../img/placing-eighth.jpg');
}

.placing-container {
  display: flex;
  flex-direction: column;
  padding: 248px 45px 45px 45px;
  justify-content: flex-end;
  width: 374px;
  background-color: var(--white);
  border-radius: 15px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.placing-price-img-wrapper {
  display: flex;
  margin-bottom: 16px;
}

.placing-note-wrapper {
  max-width: 137px;
  margin-right: 52px;
}


.placing-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.placing-note-price-first {
  margin-right: 4px;
  color: var(--gray3);
}

.placing-note-price-strong {
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.placing-title {
  margin-bottom: 16px;
}

.placing-note-place {
  margin-bottom: 20px;
  color: var(--gray3);
}

/*
.placing-list-item-link {
  max-width: 105px;
  padding: 13px 20px;
  border: 1px solid var(--yellow2);
  border-radius: 10px;
  color: var(--yellow2);
}
*/
.placing-btn {
  max-width: 105px;
  padding: 13px 20px;
  color: var(--yellow2);
}

.placing-last-container {
  max-width: 374px;
  min-height: 450px;
  padding: 373px 55px 27px 54px;
  border-radius: 15px;
  background-image: url('../img/placing-ninth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* братик я короче не сделал darken для этого блока, потому что у меня svg в html потому что я ссылку делал, я знаю как я бы это сделал но просто лениво в третий раз все переделывать)))*/
.placing-list-last-link {
  position: relative;
}

.placing-last-link-note {
  position: absolute;
  right: 54px;
  bottom: 27px;
  max-width: 300px;
  padding-right: 15px;
  background-image: url('../img/placing-arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--white);
}

/*want*/

.want-container {
  padding: 45px 45px;
  background-color: var(--light-gray);
  border-radius: 15px;
}

/*я сделал space-between, потому что иначе у меня элементы бы не помещались, то есть тут прям отступы от макета немного отличаются */
.want-form-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 31px 28px;
  background-color: var(--white);
  border-radius: 15px;
}


.want-wrapper-small {
  display: flex;
  flex-direction: column;
}

.want-note {
  max-width: 88px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--black);
  margin-bottom: 15px;
}

.want-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  border: none;
}

.want-first-form {
  padding-right: 26px;
}

.want-second-form {
  padding-right: 77px;
}

.want-first-input {
  max-width: 119px;
}

.want-number-input {
  max-width: 121px;
  border-bottom: 1px solid var(--light-gray);
}

.want-btn {
  max-width: 110px;
  padding: 13px 30px;

}

/*contacts*/

.contacts-container {
  margin-bottom: 40px;
}

.contacts-wrapper {
  display: flex;
  padding: 45px;
  background-color: var(--white);
  border-radius: 15px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  margin-right: 52px;
}

.contacts-list-item {
  padding-bottom: 23px;
  max-width: 375px;
  border-bottom: 1px solid var(--light-gray);
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-mini-wrapper {
  display: flex;
}

.contacts-title {
  max-width: 98px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.contacts-first-title {
  margin-right: 83px;
}

.contacts-second-title {
  margin-right: 47px;
}

.contacts-third-title {
  margin-right: 93px;
}

.contacts-fourth-title {
  margin-right: 74px;
}

.contacts-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.contacts-adress {
  max-width: 229px;
  font-style: normal;
}

.contacts-link-wrapper {
  max-width: 229px;
}

.contacts-phone-wrapper {
  display: flex;
  flex-direction: column;
}

.contacts-phone {
  color: var(--yellow2);
}

.contacts-email-wrapper {
  display: flex;
  flex-direction: column;
}

.contacts-email {
  max-width: 128px;
  color: var(--yellow2);
}

.contacts-email-note {
  color: #999;
}

.contacts-schedule {
  max-width: 214px;
}

.contacts-button {
  max-width: 250px;
  padding: 27px 30px;
}

.contacts-right-container {
  background-image: url('../img/contacts.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 653px;
  min-height: 528px;
}

/*footer*/

.footer-container {
  min-height: 341px;
  border-radius: 15px;
  background-color: rgba(51, 51, 51, 1);
  background-image: url('../img/footer-logo.svg');
  background-repeat: no-repeat;
  background-position: bottom right 177px;
}

.footer-wrapper {
  display: flex;
  padding: 45px;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
}

/*левая часть*/

.footer-left-container {
  display: flex;
  flex-direction: column;
  margin-right: 125px;
  max-width: 302px;
}

.footer-paragraph {
  line-height: 30px;
}

.footer-first-paragraph {
  margin-bottom: 37px;
}

.footer-second-paragrpah {
  margin-bottom: 40px;
}

.footer-left-link {
  max-width: 237px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--yellow2);
}

/*часть по центру*/

.footer-center-container {
  display: flex;
  flex-direction: column;
  margin-right: 269px;
  max-width: 359px;
}

.footer-center-item {
  display: flex;
  flex-direction: column;
}

.footer-center-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-adress {
  line-height: 30px;
}

.footer-link {
  max-width: 143px;
  line-height: 24px;
  color: var(--yellow2);
}



/*правая часть*/

.footer-img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-right-link svg {
  fill: var(--gray3);
}

.footer-right-link:focus svg,
.footer-right-link:hover svg {
  fill: var(--yellow2);
}

.footer-right-link:active svg {
  fill: var(--yellow3);
}